@font-face {
    font-family: 'Century Gothic';
    src: url('../fonts/Century-Gothic.ttf');
    font-style: normal;
}
@font-face {
    font-family: 'Corinthia';
    src: url('../fonts/Corinthia.ttf');
    font-style: normal;
}
@font-face {
    font-family: 'Ledger';
    src: url('../fonts/Ledger-Regular.ttf');
    font-style: normal;
}
@font-face {
    font-family: 'MinionPro-Regular';
    src: url('../fonts/MinionPro-Regular.otf');
    font-style: normal;
}

body{
background:#f6f4ef;
color:#1b1b1b;
font-size: 16px;
line-height: 2;
font-family: "Century Gothic";
overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
}

h2, h3  {
  margin: 0;
}
a {
  color: inherit;
}
a:focus, a:hover {
    color: inherit;
    text-decoration: none;
}
@media (max-width:992px) {
  /** {text-align: center;}*/

}
.container {
  max-width: 1140px;
}
.nopadding {
  padding: 0;
}
.top-line {
background-color: #43444a;
}
.icon {
  position: absolute;
  background: url(../images/social.png) no-repeat;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.fb { width: 9px; height: 16px; background-position: 0 0; }
.inst { width: 13px; height: 13px; background-position: -17px -13px;}
.tw { width: 15px; height: 12px; background-position: -15px 0; }
.vk {
  width: 16px;
  height: 9px;
  background-position: 0 -17px;
}

.social-links {
  margin-top: 10px;
  max-width: 135px;
  border: 1px solid #fff;
  padding: 0;
  font-size: 0;
}
.social-links-item {
  position: relative;
  display: inline-block;
  width: 33px;
  height: 35px;
}
.social-links-item a {
  display: block;
  width: 33px;
  height: 35px;
}
.social-links li:not(:last-child) {
  border-right: 1px solid #fff;
}
.social-links-item a:hover {
  background-color: #fff;
}
.social-links-item a:hover::after {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
}
.vk-h:hover::after {
  background: url(../images/vk-hover.png) no-repeat;
  background-position: center;
}
.fb-h:hover::after {
  background: url(../images/facebook.png) no-repeat;
  background-position: center;
}
.tw-h:hover::after {
  background: url(../images/twitter.png) no-repeat;
  background-position: center;
}
.inst-h:hover::after {
  background: url(../images/instagram.png) no-repeat;
  background-position: center;
}
nav.navbar {
  margin-bottom: 0;
}
.navbar-nav .nav-item {
  padding-right: 50px;
  font-size: 1.19em;
  color: #f6f4ef;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}
.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background-color: transparent;
}
.nav-item:hover,
.footer-nav:hover {
  text-decoration-color: transparent;
}
@media (max-width:992px) {
  .top-menu .navbar-nav {
    margin: 0 auto;
    text-align: center;
}
}
.navbar-toggle .icon-bar {
    background-color: #efe7d7;
}
.navbar-toggle {
    border-color: #efe7d7;
}

.bg-yellow {
  background-color: #efe7d7;
}

.second-nav {
  float: none;
  text-align: center;
  font-size: 1.22em;
  color: #1b1b1b;
}
.second-nav li {
  float: none;
  display: inline-block;
}
.second-nav>li>a,
.menu-nav >li>a {
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 80px;
  text-decoration: underline;
  text-decoration-color: rgba(41, 40, 39, .2);
}
.dropdown-menu {
  background-color: #e6decd;
  font-size: 1em;
  text-align: center;
  padding: 0;
  border: none;
}
.dropdown-menu li {
  width: 100%;
}
.dropdown-menu li a {
  padding-top: 15px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ded5c2;
}
.second-nav > li > a:focus, .second-nav > li > a:hover,
.second-nav .open>a, .nav .open>a:focus, .second-nav .open>a:hover,
.menu-nav > li > a:focus, .menu-nav > li > a:hover {
    text-decoration: none;
    background-color: #e7dfce;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #1d1e25;
    text-decoration: none;
    background-color: #ded5c2;
}
.top-slider-item {
  height: 550px;
}
.top-slider-content {
  max-width: 310px;
  min-height: 550px;
  text-align: center;
  background-color: rgba(29, 30, 37, 0.6);
}

.logo {
  padding-top: 10px;
  padding-bottom: 30px;
  position: relative;
  z-index: 1;
}
.logo-text-up, .logo-text-down {
  position: absolute;
  font-size: 3.44em;
  font-family: "Corinthia";
  color: #f6f4ef;
  line-height: 1.366;
  z-index: 50;
  text-shadow: -0   -1px 0   #000000,
            		 0   -1px 0   #000000,
            		-0    1px 0   #000000,
            		 0    1px 0   #000000,
            		-1px -0   0   #000000,
            		 1px -0   0   #000000,
            		-1px  0   0   #000000,
            		 1px  0   0   #000000,
            		-1px -1px 0   #000000,
            		 1px -1px 0   #000000,
            		-1px  1px 0   #000000,
            		 1px  1px 0   #000000,
            		-1px -1px 0   #000000,
            		 1px -1px 0   #000000,
            		-1px  1px 0   #000000,
            		 1px  1px 0   #000000;
}
.logo-text-up {
  top: 40px;
  left: 50px;
}
.logo-text-down {
  bottom: -25px;
  left: 75px;
}
.slider-title {
  display: block;
  margin-bottom: 10px;
  font-size: 1.13em;
  font-family: "Ledger";
  color: #fce2af;
  line-height: 1.556;
  text-decoration: underline;
  text-decoration-color: #fce2af;
}
.slider-title:hover {
  color: #fce2af;
  text-decoration-color: transparent;
  transition: ease-in-out 0.25s;
}
.slider-tel {
  font-size: 1.14em;
  font-family: "Ledger";
  color: #fff;
  line-height: 1.273;
  padding-bottom: 20px;
}
/*bootstrap*/
.carousel-inner {
  height: 550px;
}
#video {
  width: 100%;
  height: 550px;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    height: 100%;
}
.bootstrap-btn {
  position: relative;
  max-width: 110px;
  margin: 0 auto;

}
.carousel-dots {
  position: relative;
  margin: 0 auto;
}
.carousel-control {
  font-size: 0;
}
.carousel-control.left,
.carousel-control.right {
  background-image: none;
  z-index: 20;
}
.carousel-indicators {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  width: 310px;
  left: 0;
  bottom: 0;
  font-size: 0;
}
.carousel-indicators li {
  margin-bottom: 4px;
  margin-left: 3px;
  margin-right: 3px;
  background-color: #464856;
  border: 1px solid #464856;
}
@media screen and (min-width: 768px){
  .carousel-indicators {
      bottom: 35px;
  }
}

.carousel-indicators .active {
  width: 18px;
  height: 18px;
  color: transparent;
  background: url(../images/dot-white.png) no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
}

.top-slider-wrapper {
  position: relative;
  margin-bottom: 50px;
  height: 550px;
}

.top-slider-content {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 310px;
  text-align: center;
  background-color: rgba(29, 30, 37, 0.6);
}
@media (max-width:992px) {
  .top-slider-wrapper {
    position: static;
    background-color: #efe8db;
    margin: 0 auto;
    float: none;
  }
  .top-slider-content {
    position: static;
    text-align: center;
    height: 100%;
  }
}


/*slick slider*/
.slick-slide {
  outline: none;
}
.top-slider-content .slick-next{
  background: url(../images/right-top-slider.png) no-repeat;
}
.top-slider-content .slick-prev{
  background: url(../images/left-top-slider.png) no-repeat;
}
.central-slider-section .slick-next{
  background: url(../images/right-center.png) no-repeat;
}
.central-slider-section .slick-prev{
  background: url(../images/left-center.png) no-repeat;
}
.comment-section .slick-next{
  background: url(../images/right-comment.png) no-repeat;
}
.comment-section .slick-prev{
  background: url(../images/left-comment.png) no-repeat;
}
.comment-section .slick-dots li button {
  background-color: #e4d7be;
}

.slick-btn {
  position: relative; }
.slick-next {
  width: 20px;
  height: 20px;
  background-size: contain;
  position: absolute;
  bottom:-25px;
  right: calc(50% - 58px);
  font-size: 0;
  border: 0;
  cursor: pointer;
}
.slick-prev {
  width: 20px;
  height: 20px;
  background-size: contain;
  position: absolute;
  bottom:-25px;
  left: calc(50% - 58px);
  font-size: 0;
  border: 0;
  cursor: pointer;
}
.slick-list {
position:relative;
/*z-index:10; todo*/
}
.slick-dots {
  position: absolute;
  bottom: -32px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.slick-dots li {
  display: inline-block;
  background-color: transparent;
  width: 18px;
  height: 18px;
  margin: 2px;
}
.slick-dots li button {
  font-size: 0px;
  display: block;
  width: 9px;
  height: 9px;
  padding: 0px;
  cursor: pointer;
  outline: none;
  border: 0;
  border-radius: 100%;
  background-color: #4f515e;
}
.central-slider .slick-dots>.slick-active button {
    width: 18px;
    height: 18px;
    color: transparent;
    background: url(../images/dot-grey.png) no-repeat;
    background-position: center;
    background-size: cover;
}
.comment-slider .slick-dots>.slick-active button {
    width: 18px;
    height: 18px;
    color: transparent;
    background: url(../images/dot-black.png) no-repeat;
    background-position: center;
    background-size: cover;
}
.new-buttons .slick-dots>.slick-active button {
    width: 18px;
    height: 18px;
    color: transparent;
    background: url(../images/dot-white.png) no-repeat;
    background-position: center;
    background-size: cover;
}

.central-slider-item{
  position: relative;
  z-index: 1;
}
.central-slider-title {
  font-size: 3.125em;
  font-family: "Ledger";
  color: #f6f4ef;
  line-height: 1.366;
  position: absolute;
  left: 110px;
  top: 105px;
  z-index: 50;
}
@media (max-width:992px) {
  .central-slider-title {
    font-size: 2.8em;
    left: 30px;
}
}
.menu-section {
  padding-top: 20px;
  padding-bottom: 50px;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 50;
}
.menu-section-bg {
  position: absolute;
  top: 10%;
  left: 16%;
  width: 68%;
  height:500px;
  background-color: #efe8db;
  z-index: -1;
}
@media (max-width: 992px) {
  .menu-section-bg {
    top: 5%;
    left: -15px;
    right: -15px;
    width: initial;
    height:initial;
    max-height:100%;
    bottom: 5%;
  }
}

.menu-section .row {
  padding-bottom: 50px;
}
.menu-item {
  position: relative;
  z-index: 1;
  padding-bottom: 20px;
}
@media (max-width: 992px) {
  .menu-item {
    padding-left: 20px;
  }
}
@media (max-width: 768px) {
  .menu-item {
    padding-left: 0px;
    max-width: 260px;
    margin: 0 auto;

  }
}
.menu-item-text {
  position: absolute;
  top: 90px;
  left: 25px;
  font-size: 1.81em;
  font-family: "Ledger";
  line-height: 1.366;
  color: #f6f4ef;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
  z-index: 50;
}
@media (max-width: 768px) {
  .menu-item-text {
    top: 80px;
  }
}
.menu-item-right {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
}
.menu-item-left {
  max-width: 540px;
  text-align: right;
  margin-left: 15px;
}

.menu-item-title {
  font-size: 2.63em;
  font-family: "Ledger";
  line-height: 1.366;
  padding-top: 25px;
  padding-left: 40px;
}
.menu-item-title span {
  font-size: 1.05em;
  color: #d2bb8e;
}
@media (max-width:992px) {
  .menu-item-left {
    max-width:100%;
    margin-left: 0;
    text-align: center;
  }
  .menu-item-title {
    font-size: 2em;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.quote-section {
  padding-top: 115px;
}
.quote-section-right {
  max-width: 700px;
  padding: 0;
}
.quote-section-left {
  width: 440px;
  padding-left: 10px;
}
.quote-title {
  padding-bottom: 10px;
  font-size: 4.375em;
  font-family: "Ledger";
  color: #1b1b1b;
  line-height: 1;
}
.quote-title span {
  color: #d2bb8e;
}
@media (max-width:992px) {
  .quote-section {
    padding-top: 70px;
  }
  .quote-title {
    text-align: center;
    font-size: 3em;
    padding-left: 14px;
    padding-right: 14px;
  }
  .quote-text {
    padding-left: 14px;
    padding-right: 14px;
    text-align: center;
  }
}
.quote-name {
  padding-top: 15px;
  font-size: 1.25em;
  font-family: "Ledger";
  color: #1b1b1b;
  line-height: 2.2;
  text-align: right;
}

.quote-photo {
  position: relative;
  padding-top: 220px;
  margin-left: 10px;
  width: 100%;
  z-index: 20;
}
.first-quotes {
  position: absolute;
  width: 175px;
  height: 290px;
  z-index: 50;
  top: 5px;
  left: 5px;
}
.second-quotes {
  position: absolute;
  width: 175px;
  height: 290px;
  z-index: -5;
  top: 10px;
  right: 70px;
}
.news-title-section {
  padding-top: 35px;
  padding-bottom: 55px;
}

.h2-title {
  font-size: 3.75em;
  font-family: "Ledger";
  color: #1f1f1f;
  line-height: 1.067;
}
.all-news {
  position: relative;
  width: 255px;
  height: 55px;
  margin-left: auto;
  margin-right: 0;
  background-color: #e7d3a8;
  text-align: center;
  line-height: 55px;
}
.all-news:hover {
  background-color: #dbc8a1;
}
.all-news::after {
  position: absolute;
  content: '';
  top: 8px;
  left: 8px;
  width: 100%;
  height: 100%;
  border: 3px solid #e7d3a8;
  z-index: -1;

}
.all-news a {
  display: block;
  width: 100%;
  text-decoration: none;
  font-family: "Ledger";
  color: #000;
  cursor: pointer;
}
@media (max-width:992px) {
  .h2-title,
  .all-news,
  .news-section-title,
  .news-section-date,
  .news-section-text{
    text-align: center;
  }
  .news-section-title, .all-news {
    margin-top: 15px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
  }
}
.news-section {
  padding-bottom: 80px;
}
.news-section-right {
  max-width: 265px;
  padding-right: 15px;
}
@media (max-width:992px) {
  .news-section-right {
    max-width: 100%;
    text-align: center;
  }
}
.news-section-img {
  max-width: 245px;
  position: relative;
  padding: 0;
}
@media (max-width:992px) {
  .news-section-img {
    margin: 0 auto;
  }
}

.news-section-left {
  max-width: 885px;
}
.news-section-left {
  padding-left: 15px;
}
.news-section-img::after {
  content: '';
  background-color: #ede4d2;
  position: absolute;
  width: 122%;
  height: 112%;
  z-index: -5;
  top: -15px;
  left: 15px;
}
.news-section-title {
  font-size: 2.188em;
  font-family: "Ledger";
  line-height: 32px;
  padding-top: 20px;
}
.news-section-date {
  font-size: 1.875em;
  font-family: "Ledger";
  color: #e4d7be;
  line-height: 1.067;
  padding-top: 20px;
}

/*comments*/
.comment-section {
  padding-bottom: 100px;
}
.comment-item-wrapper {
  width: 100%;
  min-height: 395px;
  margin-top: 50px;
  padding-right: 15px;
  padding-left: 15px;

}
.comment-section-item {
  position: relative;
  min-height: 395px;
  padding-top: 30px;
  background-color: #fff;
}
.comment-name {
  padding-left: 145px;
  font-size: 1.125em;
  font-family: "Ledger";
  color: #1f1f1f;
  line-height: 1.111;
}
.comment-text {
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 20px;
  color: #1f1f1f;
  line-height: 1.75;
}
.comment-img {
  position: absolute;
  max-width: 100%;
  top: -20px;
  left: 30px;
  z-index: 50;
}
.comment-img::after {
  content: '';
  background-color: #ede4d2;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -5;
  top: 10px;
  left: 10px;
}
.comment-img::before {
  content: '';
  background: url(../images/small-quote.png) no-repeat;
  position: absolute;
  width: 55px;
  height: 45px;
  top: 30px;
  left: -45px;
}

/*map*/
#map {
  width: 100%;
  height: 520px;
}
@media (max-width: 991px) {
  #map {
    height: 300px;
  }
}

.footer {
  background-color: #1d1e25;
}

.first-line {
  min-height: 105px;
  border-bottom: rgba(255, 255, 255, 0.2);
}
.footer-logo {
  padding-top: 15px;
  margin-right: 15px;
}
.footer .social-links {
   margin-top: 35px;
}
.footer-nav {
  padding-top: 30px;
  color: #f6f4ef;
}
.footer-nav-item {
  margin-left: 0px;
  font-size: 0.875em;
  font-family: "Ledger";
  color: #f6f4ef;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.2);
}
.secod-line {
  border-top: 1px solid white;
  min-height: 90px;
  padding-top: 30px;
}
.secod-line-adress {
  font-size: 14px;
  font-family: "Ledger";
  color: #fff;
  line-height: 2;
}
.secod-line-dev {
  font-size: 0.875em;
  font-family: "Open Sans";
  color: rgba(255, 255, 255, 0.2);
  line-height: 2;
  text-align: right;
}
.secod-line-dev a:hover {
  opacity:0.7;
	transition: ease-in-out 0.25s;
}

.secod-line-dev span {
  color: #0099ff;
}
.vertical-line {
  padding-right: 8px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.footer-logo .logo-text-up,
.footer-logo .logo-text-down {
  font-size: 3em;
}
.footer-logo .logo-text-up {
  top: 40px;
  left: 0;
}
.footer-logo .logo-text-down {
  bottom: -15px;
  left: 25px;
}
@media (max-width: 992px) {
  .secod-line-dev {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .footer {
    text-align: center;
  }
  .footer-logo {
    max-width: 210px;
    margin: 0 auto;
  }
  .footer .social-links {
     margin: 0 auto;
  }
  .footer .social-links li{
     padding-left: 0px;
  }
  .secod-line-dev {
    text-align: center;
  }
}

.menu-item-right a:hover::before {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0x;
  margin: auto;
  background: url(../images/fade.png) no-repeat;
  background-size: cover;
  opacity: .52;
  width: 100%;
  height: 100%;
}
.menu-item a:hover::before{
  position: absolute;
  content: '';
  top: 0;
  bottom: 40px;
  left: 0px;
  right: 15px;
  margin: auto;
  background: url(../images/fade-1.png) no-repeat;
  background-size: cover;
  opacity: .52;
  max-width: 100%;
  height: 100%;
}


/* menu*/

/*menu*/
.menu-yellow {
  background-color: #f4eddf;
  min-height: 80px;
}
.menu-nav {
  color: #1b1b1b;
  line-height: 2.188;
}

.menu-nav-item {
  font-size: 1.2em;
}
.menu-nav-text {
  font-size: .88em;
  color: #1b1b1b;
  line-height: 20px;
  text-align: right;
  margin-bottom: 0;
  margin-right: -15px;
  padding-bottom: 30px;
  padding-top: 30px;

}
.menu-text-right {
  z-index: 5;
}
.menu-text-img {
  position: relative;
  max-width: 410px;
  padding-top: 10px;
  z-index: 1;
}
.menu-text-img::before {
  content: '';
  background-color: #ede4d2;
  position: absolute;
  width: 115%;
  height: 115%;
  z-index: -5;
  right: 35px;
  bottom: -15px;
}
@media (max-width: 992px) {
  .menu-text-img {
    margin: 0 auto;
    padding-bottom: 20px;
  }
  .menu-text-right {
    text-align: center;
  }
}

.menu-content {
  background-color: #f7f3ed;
  padding-bottom: 85px;
  padding-top: 35px;
}
.menu-title {
  font-family: "Ledger";
  font-size: 2em;
  line-height: .9;
  color: #454545;
  max-width: 350px;
}
.menu-title span {
  font-size: 2.5em;
}
.menu-title-time {
  font-size: 1.25em;
  line-height:1;
  padding-top: 15px;

}
.menu-title-lunch {
  color: #7a7a7a;
  line-height:1;
  padding-bottom: 15px;
}
.menu-list {
  width: 360px;
  height: 355px;
  border: 10px solid #ede4d2;
  padding-top: 30px;
  padding-bottom: 40px;
  padding-left: 50px;
}

ul {list-style-type:none;}
.menu-list-item {
  position: relative;
  font-size: 1.3em;
}
.menu-list-item a {
  text-decoration: underline;
  text-decoration-color: rgba(41, 40, 39, 0.2);
}
.menu-list-item a:hover{
  text-decoration-color: transparent;
  transition: ease-in-out 0.25s;
}
.menu-list-item::before {
  position: absolute;
  content: '';
  top: 15px;
  left: -35px;
  width: 20px;
  height: 15px;
  background: url(../images/menu-line.png) no-repeat;
  background-position: center;
}
.menu-img {
  margin-top: 65px;
}
.menu-page {
  padding-left: 20px;
  padding-bottom: 10px;
}
@media (max-width:768px) {
  .menu-page,
  .menu-img,
  .menu-title,
  .menu-title-time,
  .menu-title-lunch,
  .menu-nav,
  .menu-nav-text  {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
  }
  .menu-title,
  .menu-list  {
    margin: 0 auto;
  }
}
.menu-page-title {
  font-size: 1.22em;
  font-family: "Open Sans";
  line-height: 2.296;
  padding-top: 10px;
  padding-bottom: 10px;
}

.menu-text {
  padding-top: 110px;
}
.second-line-wrap {
  min-height: 135px;
  background-color: #f8f2e6;
}
.second-line {
  min-height: 135px;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row;
  flex-wrap: wrap;
}
.second-line-item {
  padding-bottom: 20px;
}
@media only screen and (min-width: 993px ) {
  .second-line-item:nth-child(2) {
    order: 1;
  }
  .second-line-item:nth-child(3) {
    order: 2;
  }
  .second-line-item:nth-child(4) {
    order: 4;
  }
  .second-line-item:nth-child(5) {
    order: 5;
  }
  .menu-logo {
    order: 3;
  }
  .second-line {
    width: 1155px;
  }
}
@media only screen and (min-width: 768px ) and (max-width: 992px){
  .second-line-item {
    width: 50%;
  }
  .menu-logo {
    width: 100%;
    padding-bottom: 30px;
  }
}
@media only screen and (max-width: 768px ){
  .second-line-item {
    width: 100%;
  }
  .menu-logo {
    width: 100%;
    padding-bottom: 30px;
  }
}
.menu-logo-img {
  position: relative;
  max-width: 195px;
  margin: 0 auto;
}

.menu-logo .logo-text-up,
.menu-logo .logo-text-down {
  font-size: 2.9em;
  color: #1f1f1f;
  text-shadow: -0   -1px 0   #eee6d6,
                 0   -1px 0   #eee6d6,
                -0    1px 0   #eee6d6,
                 0    1px 0   #eee6d6,
                -1px -0   0   #eee6d6,
                 1px -0   0   #eee6d6,
                -1px  0   0   #eee6d6,
                 1px  0   0   #eee6d6,
                -1px -1px 0   #eee6d6,
                 1px -1px 0   #eee6d6,
                -1px  1px 0   #eee6d6,
                 1px  1px 0   #eee6d6,
                -1px -1px 0   #eee6d6,
                 1px -1px 0   #eee6d6,
                -1px  1px 0   #eee6d6,
                 1px  1px 0   #eee6d6;

}

.menu-logo .logo-text-up {
  top: 25px;
  left: 0;
}
.menu-logo .logo-text-down {
  bottom: -50px;
  left: 15px;
}
.second-line-title {
  font-size: 1.13em;
  font-family: "Ledger";
  line-height: 1.556;
  text-decoration: underline;
  text-decoration-color: rgba(27, 27, 27, .2);
}
.second-line-tel {
  font-size: 1.37em;
  font-family: "Ledger";
  line-height: 1.273;
  opacity: .6;
}
.menu-page a {
  display: block;
  height: 100%;
}
.menu-img-hover {
  display: block;
  position: relative;
  height: 100%;
}
.menu-img-hover:hover::before{
  position: absolute;
  display: block;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 360px;
  height: 100%;
  background-color: #aeaeae;
  opacity: .2;
}
.menu-img-hover:hover::after{
  position: absolute;
  content: url(../images/zoom-in.png);
  top: 40%;
  left: 0;
  right: 0;
  text-align: center;
}
@media only screen and (max-width: 768px ) {
  .menu-img-hover:hover::before {
    background-color: transparent;
  }
  .menu-img-hover:hover::after {
    content: "";
  }
}

/*hotel*/
.hotel-content {
  background-color: #f7f3ed;
  padding-bottom: 85px;
  padding-top: 15px;
}
@media only screen and (max-width: 992px ) {
  .hotel-content {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
  }

}
.hotel-content p{
  line-height: 1.688;
}
.hotel-title {
  font-family: "Ledger";
  font-size: 2.15em;
  line-height: .9;
  color: #454545;
  padding-bottom: 15px;
}
.hotel-rooms {
  position: relative;
  padding-top: 30px;
}
.hotel-rooms-content {
  background-color: #f4eddf;
  max-width: 655px;
  padding-top: 10px;
  padding-left: 30px;
  padding-bottom: 20px;
  margin-bottom: 30px;
}
.hotel-rooms-content p {
  max-width: 560px;
}
.room-num {
  font-size:1.25em;
  line-height: 1.987;
  color: #252525;
}
.room-price {
  font-family: "Ledger";
  color: #252525;
  line-height: 0.795;
}
.room-price span {
  font-size: 3.125em;
}
.room-link {
  display: inline-block;
  padding-right: 40px;
  color: #0099ff;
  text-decoration: underline;
  text-decoration-color: rgba(0, 153, 255, .2);
}
.room-link:hover {
  text-decoration-color: transparent;
}
.hotel-rooms-img {
  text-align: right;
}
.hotel-rooms-img img {
  padding-bottom: 30px;
}
.room-reserve {
  color: #5e5e5e;
  line-height: 1.875;
  font-size: 1.92em;
}

.breakfast-line {
  margin-right: -30px;
  margin-left: -30px;
  margin-top: 40px;
  border-top: 1px solid #858585;
}
.breakfast-item {
  position: relative;
  background-color: #fff;
  padding-bottom: 5px;
  margin-bottom: 20px;
}
.breakfast-item::after{
  content: '';
  background: url(../images/hotel-shadow.png) no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 50px;
  opacity: 0.4;
  top: -50px;
  right:0;
  left: 0;
}

.breakfast-title {
  padding-top: 20px;
  padding-left: 20px;
  font-family: "Ledger";
  font-size: 1.25em;
}
.room-show-all {
  position: absolute;
  width: 100%;
  height: 260px;
  bottom: 0;
  padding-top: 160px;
  background: url(../images/layer-19.png);
  background-size: cover;
}

.breakfast-item li:before {
  content:"\2014\0020";
}
.show-all {
  position: relative;
  width: 260px;
  height: 60px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #e7d3a8;
  text-align: center;
  line-height: 60px;
  z-index: 1;
}
.show-all a:hover {
  background-color: #dbc8a1;
}
.show-all::after {
  position: absolute;
  content: '';
  top: 6px;
  left: 12px;
  width: 100%;
  height: 100%;
  border: 3px solid #e7d3a8;
  z-index: -1;
}
.show-all a {
  display: block;
  width: 100%;
  text-decoration: none;
  font-family: "Ledger";
  color: #000;
  cursor: pointer;
}
.sauna-section {
  padding-top: 70px;
}
.sauna-section img {
  padding-top: 20px;
}
@media only screen and (max-width: 992px ) {
  .sauna-section img {
    float: none;
  }
  .sauna-amount {
    padding-bottom: 10px;
  }
  .sauna-price +p{
    padding-top: 20px;
  }

}
.sauna-price {
  max-width: 960px;
  font-family: "Ledger";
  line-height: 1.868;
  padding-top: 10px;
}
.sauna-amount {
  color: #5f5f5f;
  font-size: 1.66em;
}
.sauna-time span{
  font-size: 2.7em;
  line-height: .5;
  padding-bottom: 15px;
}
.sauna-time {
  font-size: 1.08em;
}
/*.sauna-price ~ p:last-child {
  padding-bottom: 20px;
}*/
.calc {
  max-width: 1040px;
  padding-left: 65px;
}
.clearfix {
  clear: both;
}
.hotel-subtitle {
  font-size: 1.875em;
  font-family: "Ledger";
  line-height: 0.9;
  color: #252525;
  padding-bottom: 15px;
  padding-top: 20px;
}
.sauna-section-item {
  padding-left: 15px;
}
.discription-title {
  font-size: 1.25em;
  font-weight: bold;
}
.discription-text{
  font-style: italic;

}
.calc form {
  padding-top: 35px;
}
.form-field {
  display: inline-block;
  max-width: 300px;
}
.form-field input {
  width: 290px;
  height: 55px;
  border: 2px solid #d3d3d3;
  background-color: #f7f3ed;
  margin-bottom: 10px;
  padding-left: 15px;
}
.calc-btn {
  display: inline-block;
  width: 140px;
  height: 120px;
  background-color: #fff;
  margin: 0 auto;
  border: none;
  line-height: 1;

}
button {
  vertical-align: top;
  padding: 0;
}
.calc-btn:hover{
  opacity: .9;
  transition: ease-in-out 0.25s;
}
.calc-total {
  font-size: 3.125em;
  padding-top: 40px;
  font-family: "Ledger";
}
.calc-total span {
  font-size: initial;
}
.calc-reserve {
  min-width: 290px;
  padding-top: 50px;
  line-height: 1.3;
  font-size: 1.875em;
  font-family: "Ledger";
}
